catalog/catalog.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = tree

tree = element tree { 
  node*,
  attribute xml:id { xsd:ID },
  attribute title { text }
}

node = element node { 
  node*,
  attribute xml:id   { text }?,
  attribute xml:base { text }?,
  attribute catalog  { text }?,
  attribute name { text }?,
  attribute work { text }?,
  attribute file { text }?,
  attribute juan { text }?,
  attribute html { text }?,
  attribute lb { text }?
}
